[submodule "extensions/autopair"]
	path = extensions/autopair
	url = https://github.com/emacsmirror/autopair
[submodule "extensions/rainbow-mode"]
	path = extensions/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode
[submodule "extensions/rainbow-delimiters"]
	path = extensions/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule "extensions/nyan-mode"]
	path = extensions/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode/
[submodule "extensions/highlight-sexp"]
	path = extensions/highlight-sexp
	url = https://github.com/daimrod/highlight-sexp.git

[submodule "extensions/ipython.el"]
	path = extensions/ipython.el
	url = http://github.com/von/ipython.el.git

[submodule "extensions/SusColors-emacs"]
	path = extensions/SusColors-emacs
	url = https://github.com/TheSuspiciousWombat/SusColors-emacs.git
[submodule "extensions/auto-complete"]
	path = extensions/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
